{% extends 'master/master.html' %}
{% block content %}

<table id="customers">

    <tr>
        <th>Item Name</th>
    <th>Item Calories</th>
    <th>Consumed Calories</th>
    </tr>
    
    {% for i in calorisdata %}

    <tr>
        <td>{{i.ItemName}}</td>
        <td>{{i.ItemCalories}}</td>
        <td>{{i.CaloriesConsumed}}</td>
    </tr>
        
    {% endfor %}
        

</table>

<!-- <div class="container">
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <h5 class="card-header">Featured</h5>
            <div class="card-body">
                
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
</div> -->
    
{% endblock content %}