{% extends 'admin.html' %}

{% block content %}
{% load static %}

<section class="d-flex flex-column">
    <div class="container">
        <div class="section-title">
            <h2>Edit Educational Information</h2>
        </div>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="hname" class="form-label">Name of Degree</label>
                <input type="text" class="form-control" value="{{educationdata.Degree}}" id="hname" required>
            </div>
            <div class="mb-3">
                <label for="htitle" class="form-label">Institute</label>
                <input type="text" class="form-control" value="{{educationdata.Institute}}" id="htitle" required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</section><!-- End Hero -->

{% endblock content %}