{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" href="{% static 'assets/css/signupsignin.css' %}">   
</head>
<body>
    <div class="container">
        <div class="signup-box">
            <h2>Signup Form</h2>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{signupform}}
                <button type="submit">Sign Up</button>
                <a href="{% url 'signinPage' %}">Already have an account?</a>
            </form>
        </div>
    </div>
</body>
</html>
