{% extends 'master.html' %}

{% block content %}
<div class="container">
    <h1>List of All Resume</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Address</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Profile Image</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
         
         {% for i in resumedata %}
         <tr>
            
            <td>{{i.FullName}}</td>
            <td>{{i.Address}}</td>
            <td>{{i.PhoneNumber}}</td>
            <td>
                <img src="/{{i.ProfileImage}}" width="50px" alt="">
            </td>
            <td>
                <a href="{% url 'editresume' i.id %}">Edit</a>
                <a href="{% url 'viewresume' i.id %}">View</a>
                <a href="{% url 'deleteresume' i.id %}">Delete</a>
            </td>
         </tr>
            
         {% endfor %}
            
        </tbody>
      </table>
</div>
    
{% endblock content %}

    