{% extends 'master.html' %}

{% block content %}
    
  <div class="container mt-5 mb-5">
    <div class="col-md-12 text-center">
        <img src="/{{ infodata.ProfileImage }}"style="object-fit: cover; height:150px; width:150px" alt="Profile Image" class="img-fluid rounded-circle">
    </div>
    
      <div class="col-md-12 text-center">
        <h1><strong>{{ infodata.FullName }}</strong></h1>
        <p>{{ infodata.Address }}</p>
        <p>{{ infodata.PhoneNumber }}</p>
        <p>{{ infodata.EmailAddress }}</p>
      </div>

    <div class="row mt-3">
      <div class="col-md-12">
        <h2><strong>Career Objective</strong></h2>
        <hr>
        <p>{{ infodata.CareerObjective }}</p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <h2><strong>Skills</strong></h2>
        <hr>
        <ul>
            <li>{{ infodata.Skills }}</li>
        </ul>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <h2><strong>Certifications</strong></h2>
        <hr>
        <ul>
            <li>{{ infodata.Certifications }}</li>
        </ul>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <h2><strong>Projects</strong></h2>
        <hr>
        <ul>
            <li>{{ infodata.Projects }}</li>
        </ul>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <h2><strong>References</strong></h2>
        <hr>
        <li>{{ infodata.References }}</li>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <h2><strong>Educational Inforation</strong></h2>
        <hr>
 
        <h4><strong>{{ educationdata.Degree }}</strong></h4>
        <p><strong>Institute: </strong>{{ educationdata.institute }}</p>
        <p><strong>Graduation: </strong>{{ educationdata.graduation }}</p>
  
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <h2><strong>Work Experience</strong></h2>
        <hr>
        <h4><strong>{{ workdata.Company }}</strong></h4>
        <p><strong>Position: </strong>{{ workdata.Position }}</p>
        <p><strong>Start Date: </strong>{{ workdata.StartDate }}</p>
        <p><strong>End Date: </strong>{{ workdata.EndDate }}</p>
            

            
      </div>
    </div>
  </div>


{% endblock content %}
    