{% load static %}
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                
                <li><a href="#"><strong><i class="fas fa-plus-circle"></i><span>Add Task</span> </strong></a></li>
                <li><a href="#"><i class="fas fa-search"></i><span>Search</span> </a></li>
                <li><a href="#"><i class="fas fa-inbox"></i><span>Inbox</span> </a></li>
                <li><a href="#"><i class="fas fa-calendar-day"></i><span>Today</span> </a></li>
                <li><a href="#"><i class="fas fa-calendar-alt"></i><span>Upcomming</span> </a></li>
                <li><a href="#"><i class="fas fa-clipboard-check"></i><span>Finished</span> </a></li>
                
        </div>
    </div>
</div>