{% extends 'master.html' %}

{% block content %}
<style>

</style>
    <h1>Candidate Information</h1>
    

    <p style="margin-left: 10px;"><b>Full Name:</b> {{candidate.full_name}} </p>
    <p style="margin-left: 10px;"><b>Email Address:</b> {{candidate.email}} </p>
    <p style="margin-left: 10px;"><b>Phone Number:</b> {{candidate.phone_number}} </p>
    <p style="margin-left: 10px;"><b>Address:</b> {{candidate.address}} </p>
    <p style="margin-left: 10px;"><b>Job Title:</b> {{candidate.job_title}} </p>
    <p style="margin-left: 10px;"><b>Linkedin Profile:</b> {{candidate.linkedin_profile}} </p>
    <p style="margin-left: 10px;"><b>University:</b> {{candidate.university}} </p>
    <p style="margin-left: 10px;"><b>Degree:</b> {{candidate.degree}} </p>
    <p style="margin-left: 10px;"><b>Languages:</b> {{candidate.languages}} </p>
    <p style="margin-left: 10px;"><b>Years of Experience:</b> {{candidate.years_of_experience}} </p>

        
{% endblock content %}
    