{% extends 'master.html' %}

{% block content %}
<section>
        <div class="row">
            <div class="col-lg-3 left-side bg-primary pt-5">
                <div class="container">
                    <h1 class="text-white">MY RESUME</h1>
                </div>
            </div>
            <div class="col-lg-9 main-content bg-secondary pt-5">
                <div class="container">
                    <h1 class="text-white">CHECK MY RESUME</h1>
                </div>
            </div>
        </div>
</section>
    
{% endblock content %}
    