
    <div class="row">
      <div class="image">
        <img src="/{{info.Picture}}" alt="image">
      </div>
      <div class="info row text-center p-0">
        <h1 class="text-center"> {{info.Name}} </h1>
        <div class="sidebar row text-center p-0 m-0">
          <a class="active" href="{% url 'homePage' %}"><i class='bx bxs-dashboard'></i> Home</a>
          <a href="{% url 'aboutPage' %}"><i class="fa-solid fa-clipboard-user"></i> About</a>
          <a href="{% url 'educationPage' %}"><i class="fa-solid fa-graduation-cap"></i> Education</a>
          <a href="{% url 'resumePage' %}"><i class="fa-solid fa-file-lines"></i> Resume</a>
        </div>
      </div>

</div>

